[submodule "htdocs/MathJax"]
	path = htdocs/MathJax
	url = git://github.com/mathjax/MathJax.git
[submodule "SyntaxHighlighter"]
	path = SyntaxHighlighter
	url = git@github.com:toastedcrumpets/SyntaxHighlighter.git