/* Main html element styles */
html { height: 100%; }

body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color:#b7c7d7;
}

h1 { 
    font-size:1.5em;
    border-top:2px solid;
    border-bottom:2px solid;
    display:block;
    text-align:center;
    margin-top:1em;
    color: #113366;
    min-width:20%;
    /* Android autofit bugfix */
    background-color: #ffffff;
}

h2 {
    font-size:1.25em;
    margin-top:1.5em;
    display:block;
    /* Android autofit bugfix */
    background-color: #ffffff;
    border-bottom:1px solid;
    color: #113366;
}

h3 {
    font-size:1.25em;
    color: #113366;
}

h4 {
    font-size:1em;
    font-weight:normal;
    color: #113366;
}

pre {
    margin:5px;
    padding:5px;
    border:1px solid #000000;
    white-space: pre-wrap;
}

ul {
    padding:0 1em;
    list-style-position: inside;
}

li { margin:5px;}

a { text-decoration: none; }
a:hover, a:active { text-decoration: underline; }

.table-of-contents .subsection {
    margin-left:1em;
    list-style-type:circle;
}

h1:target, h2:target, h3:target {
    animation: highlight 1s;
}

@keyframes highlight {
    from { background-color: yellow; }
    to { background-color: white; }
}

#table-of-contents-title {
    background: #ffffff;
    border-left:2px solid #000000;
    border-bottom:2px solid #000000;
    border-radius:0 15px;
    padding:0 1em;
    font-weight:bold;
    float:right;
}

.table-of-contents {
    background: #eeeeff;
    float:right;
    border-left: 2px solid #113366;
    border-bottom: 2px solid #113366;
    border-radius:0 15px;
    margin:-15px -15px 0 0;
}

.figure {
    display: inline-block;
    position:relative;
}

#contentwrapper, .logo, .figure, #footer, .button a {
    border-radius: 15px;
    background-color: #ffffff;
    border:2px solid;
}


.figure .caption { 
    text-align:center; 
    clear: both;
    margin:15px;
}


.figure a {
    display:inline-block;
    margin:5px;
    border-style:none;
}

.figure .video-container {
    padding-top:5px;
    position:relative;
    clear:both;
    cursor: pointer;
    margin-left:auto; 
    margin-right:auto;
    display:inline-block;
}

.video-container .play-button {
    position:absolute;
    width:100%;
    width:31px;
    height:31px;
    left:15px;
    right:15px;
    display:block;
    background-image: url(csssprites.png);
    background-position: -242px 0;
}

.video-container:hover .play-button {
    background-position: -273px 0;
}

/* Button */
.button { text-align:center; margin: 15px 0; }

.button a:hover { background-color: #ccddcc; }

.button a {
    position:relative;
    padding: 5px 15px;
    background-color:#e0f0ff;
    color:#000000;
    display:inline-block;
    text-decoration:none;
}

.logo {
    border:2px solid;
    padding: 15px;
    margin: 0 15px 15px 15px;
}
.logo a {
    display:block;
    text-align:center;
}

#sitelogo {
    display:inline-block;
    border-style:none;
    width:100%;
    max-width:424px;
    height:auto;
    max-height:115px;
}

#footer {
    margin: 0 15px 15px 15px;
    position:relative;
    padding-left:15px;
    line-height:41px;
    border:2px solid;
}

#footerlogos {
    float:right;
    text-align:right;
}
#footer p {
    float:left;
    display:inline-block;
    margin:0;
    padding:0;
}

#mathjaxfooterlogo, #w3footerlogoHTML, #w3footerlogoCSS {
    background-image: url(csssprites.png); 
    display:inline-block;
    vertical-align:middle;
    margin:0 5px;
}

#mathjaxfooterlogo {
    width:121px; 
    height:31px; 
    background-position: -305px 0;
}

#w3footerlogoHTML {
    width:88px; 
    height:31px; 
    background-position: -90px 0;
}

#w3footerlogoCSS {
    width:88px; 
    height:31px; 
    background-position: 0 0;
}

#menu {
    margin:15px 15px 0 15px;
}

#menu a {
    color:#000000;
    text-decoration: none; 
    background-color:#e0f0ff;
    padding:10px 15px;
    display:inline-block;
    border: 2px solid;
    border-radius: 15px 15px 0 0;
    margin-bottom:-2px;
    font-weight:bold;
}

#menu a.selected {
    background-color:#ffffff;
    margin-bottom:-2px;
    z-index:100;
    position:relative;
    border-bottom:2px solid #ffffff;
}


#menu a:hover { 
    background-color:#ccddcc;
}

#menu a.selected:hover {
    background-color:#ffffff; 
}

#contentwrapper {
    padding: 15px;
    border-radius: 0 15px 15px 15px;
    border:2px solid;
    position:relative;
    margin: 0px 15px 15px 15px;
}

#pagedate {
    margin:0;
    text-align:right;
}

@media all and (max-width:767px)  {
    #menu a, .logo, #footer, .table-of-contents, #table-of-contents-title, #contentwrapper {
	border-radius:0;
	
    }

    #menu a {
	width:33.3333333333%;
	padding:10px 0;
	border:2px solid #000000;
	text-align:center;
	box-sizing:border-box;
    }

    .table-of-contents, #table-of-contents-title {
	float:none;
	margin:0;
	border: 2px solid #113366;
    }

    h1,h2,h3,p {
	clear:both;
    }

    #menu a.selected {
	border-bottom:2px solid #000000;
    }

    #contentwrapper {
	padding-top: 15px;
	border:2px solid;
	position:relative;
    }
}
