/* Main html element styles */
html { height: 100%; }


p {
    /* Android autofit bugfix */
    background-color: #ffffff;
}

.syntaxhighlighter {
    margin:5px;
    padding:5px;
    border:1px solid #000000;
    
}
.syntaxhighlighter .toolbar {
    float:right;
    padding: 0 4px;
}

.newsdivider {
    height:2px;
    clear:both;
    background-color:#000000;
    margin:15px;
}	

body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color:#b7c7d7;
}

h1 { 
    font-size:1.5em;
    border-top:2px solid;
    border-bottom:2px solid;
    display:block;
    text-align:center;
    margin-top:1em;
    color: #113366;
    /* Android autofit bugfix */
    background-color: #ffffff;
}

h2 {
    font-size:1.25em;
    margin-top:1.5em;
    display:block;
    /* Android autofit bugfix */
    background-color: #ffffff;
    border-bottom:1px solid;
    color: #113366;
}

h3 {
    font-size:1.25em;
    color: #113366;
}

h4 {
    font-size:1em;
    font-weight:normal;
    color: #113366;
}

li { 
    margin:5px;     
    /* Android autofit bugfix */
    background-color: #ffffff;
 }

.rounded {
    border-radius: 15px;
    padding: 15px;
    background-color: #ffffff;
    margin: 0px 15px 15px 15px;
}

.logo {
    border:2px solid;
}

.newsdate {
    display:inline;
    float:right;
    margin-top:1.2em;
    font-weight:bold;
    color: #113366;
    margin-left:15px;
}

.video-container {
    position:relative;
    clear:both;
    cursor: pointer;
    margin-left:auto; 
    margin-right:auto;
}

.video-container .play-button {
    position:absolute;
    width:100%;
    width:31px;
    height:31px;
    left:15px;
    right:15px;
    display:block;
    background-image: url(csssprites.png);
    background-position: -242px 0;
}

.video-container:hover .play-button {
    background-position: -273px 0;
}

#footer {
    position:relative;
    padding-left:15px;
    line-height:41px;
    border:2px solid;
}

#footerlogos {
    float:right;
    text-align:right;
}
#footer p {
    float:left;
    display:inline-block;
    margin:0;
    padding:0;
}

#mathjaxfooterlogo, #w3footerlogoHTML, #w3footerlogoCSS {
    background-image: url(csssprites.png); 
    display:inline-block;
    vertical-align:middle;
    margin:0 5px;
}

#mathjaxfooterlogo {
    width:121px; 
    height:31px; 
    background-position: -305px 0;
}

#w3footerlogoHTML {
    width:88px; 
    height:31px; 
    background-position: -90px 0;
}

#w3footerlogoCSS {
    width:88px; 
    height:31px; 
    background-position: 0 0;
}

#menu {
    margin:15px 15px 0 15px;
}

#menu a {
    color:#000000;
    text-decoration: none; 
    background-color:#e0f0ff;
    padding:10px 15px;
    display:inline-block;
    border: 2px solid;
    border-radius: 15px 15px 0 0;
    margin-bottom:-2px;
    font-weight:bold;
}

#menu a.selected {
    background-color:#ffffff;
    margin-bottom:-2px;
    z-index:100;
    position:relative;
    border-bottom:2px solid #ffffff;
}


#menu a:hover { 
    background-color:#ccddcc;
}

#menu a.selected:hover {
    background-color:#ffffff; 
}

#contentwrapper {
    border-radius: 0 15px 15px 15px;
    border:2px solid;
    position:relative;
}

#TOC {
    float:right;
    display:inline-block;
    background-color:#ccddee;
    margin: -15px -15px 15px 15px;
    padding:15px;
    border-radius: 0 15px 0 15px;
    position:relative;
    border-bottom:solid 2px #000000;
    border-left:solid 2px #000000;
}

#TOC li { 
    /* Android autofit bugfix */
    background-color:#ccddee;
 }

#TOC ol {
    /* Android autofit bugfix */
    list-style-type: square;
    background-color:#ccddee;
    padding-left:15px;
 }

#TOC ol ol {
    list-style-type: disc;
    background-color:#ccddee;
    padding-left:20px;
 }

#TOC ol ol ol {
    list-style-type: circle;
    background-color:#ccddee;
    padding-left:20px;
 }

#TOC #header {
    float:right;
    font-weight:bold;
    display:inline;
    background-color:#ffffff;
    position:relative;
    margin: -15px -15px 0 0;
    border-bottom:solid 2px;
    border-left:solid 2px;
    border-radius: 0 15px 0 15px;
    padding: 2px 15px;
}

#pagedate {
    margin:0;
    text-align:right;
}

/* Button */
.button { text-align:center; margin: 15px 0; }

.button a:hover { background-color: #ccddcc; }

.button a {
    border:2px solid;
    position:relative;
    padding: 5px 15px;
    border-radius:15px;
    background-color:#e0f0ff;
    color:#000000;
    display:inline-block;
    text-decoration:none;
}

.figure { 
    display: inline-block; 
    padding-top:15px;
    border:2px solid;
    background-color:#ffffff;
    border-radius: 15px 15px 15px 15px;
    position:relative;
}

.figure .caption { 
    text-align:center; 
    clear: both;
    margin:15px;
}

.figure img {
    border-style:none;
}

#sitelogo {
    border-style:none;
    width:100%;
    max-width:424px;
    height:auto;
    max-height:115px;
}

@media all and (max-width:767px)  {
    #menu a {
	width:33.3333333333%;
	padding:10px 0;
	border-radius:0;
	border:2px solid #000000;
	text-align:center;
	box-sizing:border-box;
    }

    #menu a.selected {
	border-bottom:2px solid #000000;
    }

    #TOC {
	float:none;
	border:2px solid #000000;
	display:block;
	padding:0;
	margin:5px;
	border-radius: 15px;

    }

    #contentwrapper {
	border-radius: 0 0 15px 15px;
	padding-top: 15px;
	border:2px solid;
	position:relative;
    }

    #TOC #header {
	border-radius: 15px 15px 0 0;
	margin: 0;
	float:none;
	border:none;
	padding:0;
	width:100%;
	text-align:center;
	display:block;
    }

}
